/* Mixins
@mixin x-user-select ($value: none) {
	-webkit-user-select: $value;
	   -moz-user-select: $value;
	    -ms-user-select: $value;
	        user-select: $value;
}
*/
/* Actual */
html {
    font-size: 16px;
    overflow: hidden;
}
.member {
		user-select: none;
    &Info {
        display: flex;
        align-items: center;
        justify-content: center;

    }
    &Listing {
        border-bottom: 1px solid gray;
        padding: .9em;
        background-color: #efefef;
				position: relative;
				top:-5em;

    }
    &Pic {
        width: 75px;
    }
    &Name {
        flex: 1;
        flex-direction: column;
        font-size: 1.4em;
        text-align: center;
    }
}
.listing {
    &Delete {
        background-color: red;
				z-index: -1;
				height: 4em;
    }
    &Approve {
        background-color: green;
				z-index: -1;
				height: 4em;
    }
}
.transitionEase {
    transition: 0.5s ease-out;
}
